<div style="padding-left:25px; padding-bottom:100px; width:80%; margin:auto">
	<h2>New Post</h2>

	<%= form_for @post, html: { multipart: true } do |f| %>

	<%= f.file_field :image %>
	<%= f.hidden_field :image_cache %><br /><br />
	<%= f.submit "Save Post" %>

	<% end %>
</div>