<div style="width:20%">
	<h1>Recommended</h1>
</div>
<div style="width:50%">
	<h1>Your Feed</h1>
	<% @posts.each do |p| %>
	<div id="post-card" style="background-color:white; border-radius:10px; margin-bottom:50px; box-shadow: 5px 10px #888888">
			<div id="post-user-info" style="padding-left:15px; padding-top:5px">
				<h4><%= p.account.username %></h4>
			</div>
			<%= image_tag p.image.url %>
			<div id="post-info" style="padding:15px">
				<p>0 Likes | 0 Re-Woofs</p>
				<input type="text" placeholder="Add a Comment..." style="width:65%"></input>
			</div>
			
	</div>
	<% end %>
</div>
<div style="width: 20%">
	<div id ="user-card" style="background-color:white; margin-top:75px; padding:15px; border-radius:10px; box-shadow: 5px 10px #888888"
		<h2><%= current_account.username %></h2>
		<h3>0 Friends | 0 Likes</h3>
	</div>
</div>